@use "sass:map";
@use "../../../scss/variables";

.site-footer {
  padding: 32px 0;
  border-top: 1px solid #D9D9D9;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  padding: 0 32px;
  text-align: center;
  font-size: 12px;
}

.copyright {
  font-weight: 600;
  padding-top: 20px;
  width: 100%;
  order: 2;
}

.site-footer-navigation {
  list-style: none;
  text-align: center;
  width: 100%;
  order: 1;
}

li {
  padding: 0 9px;
  display: inline-block;
  cursor: pointer;
}

@media(min-width: map.get(variables.$grid-breakpoints, md)) {
  .copyright {
    order: 1;
    padding-top: 0;
    padding-right: 30px;
    width: unset;
  }

  .site-footer-navigation {
    width: unset;
    text-align: left;
    order: 2;
  }

  li {
    padding-left: 9px;
    padding-right: 30px;
    display: inline;
  }

  .flex-wrapper {
    text-align: left;
    padding-left: 100px;
    padding-right: 32px;
    font-size: 14px;
  }
}