:host {
  overflow-x: hidden;
  display: block;
}

.tab__content {
  padding-top: 16px;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.badge-green {
  background-color: #28a745;
  color: white;
}

.profile-background {
  position: relative;
  width: 100vw;
  //background-image: url('/assets/images/views/profile/profile-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: rgba(251, 251, 251, 0.3);
  z-index: 1;
}

.card-background {
  position: relative;
  width: 130%;
  padding: 2rem 0;
  background-image: url('/assets/images/share/emedic-card/e-medical-card-mi-care.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card-info {
  margin-top: 1rem;
  font-size: 13px;
}

.info-row {
  justify-content: space-between;
  padding: 0.1rem 0;
}

.profile-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.breadcrumb-nav {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.sub-heading {
  margin-bottom: 3rem;
}

.policy-grid {
  padding-bottom: 1rem;
}

.policy-row {
  margin-bottom: 3rem;
}
