<div nxLayout="grid">
    @for (card of cards; track card.title) {
      <nx-card
        clickable
        class="nx-margin-2xs"
        (click)="onCardClick(card)"
      >
        <h3 nxHeadline size="l">
          <a nxCardMainLink [routerLink]="card.route">{{ card.title }}</a>
        </h3>
        <p>{{ card.description }}</p>
        <nx-link size="small">
          <a nxCardSecondaryInfo [routerLink]="card.route">Purchase {{ card.title }}</a>
        </nx-link>
      </nx-card>
    }
</div>
