<header nx-header>
  <nx-header-brand>
    <nx-link>
      <a href="/">
<!--        <figure nxFigure>-->
<!--          <img-->
<!--            src="assets/logos/aposin_logo.svg"-->
<!--            alt="Brand Logo"-->
<!--            role="none"-->
<!--          />-->
<!--        </figure>-->
        <span class="logo-text">Insurance Portal</span>
      </a>
    </nx-link>
  </nx-header-brand>

  @if (isAuthenticated) {
<!--    <div>-->
<!--      <p>Welcome, {{ userInfo.fullName }} ({{ userInfo.shortName }})</p>-->
<!--      <p>Email: {{ userInfo.email }}</p>-->
<!--      <img [src]="userInfo.picture" alt="Profile Picture" width="60" />-->
<!--    </div>-->
    <nx-header-actions>
      <button nxButton="secondary small" type="button" (click)="auth.logout()">Logout</button>
    </nx-header-actions>
  } @else {
    <nx-header-actions>
      <button nxButton="secondary small" type="button" (click)="auth.loginWithRedirect()">Login</button>
    </nx-header-actions>
  }
</header>
