<div class="profile-background">
  <div class="overlay"></div>
  <div class="profile-container">
    <div nxLayout="grid" class="docs-grid-colored-grid">
      <nav aria-label="Breadcrumb" class="breadcrumb-nav">
        <ol nxBreadcrumb appearance="link">
          @for (item of breadcrumbs; track item; let i = $index; let isLast = $last) {
            <li>
              <a nxBreadcrumbItem [routerLink]="!isLast ? item.link : null" style="color: #666666">
                {{ item.label }}
              </a>
            </li>
          }
        </ol>
      </nav>

      <div nxRow>
        <div nxCol="12" class="docs-grid-colored-col" style="color: #666666">
          <h1 >
            {{ policyDetails.companyName }}
            <span>
              <nx-badge class="badge-green">{{ policyDetails.status }}</nx-badge>
            </span>
          </h1>
          <div class="sub-heading" style="color: #666666; font-size: 1.4rem;">
            {{ policyDetails.subCompany }}
          </div>
        </div>
      </div>
    </div>

    <div nxLayout="grid nogutters" class="docs-grid-colored-grid policy-grid">
      <div nxRow class="policy-row">
        @for (item of firstRow; track item;) {
          <div nxCol="2,3" class="docs-grid-colored-col" style="color: #666666; font-size: 1.1rem;">
            {{ item.label }}
            <div style="font-size: 1.3rem;">{{ item.value }}</div>
          </div>
        }
      </div>

      <div nxRow class="policy-row">
        @for (item of secondRow; track item;) {
          <div nxCol="2,3" class="docs-grid-colored-col" style="color: #666666; font-size: 1.1rem;">
            {{ item.label }}
            <div style="font-size: 1.3rem;">{{ item.value }}</div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<div class="page-wrapper" style="margin-top: 2rem">
  <nx-tab-group [(selectedIndex)]="currentIndex">
    <nx-tab label="Policy Details">
      <p class="tab__content">
        <nx-accordion>
          <nx-expansion-panel
            [scrollIntoViewActive]="scrollIntoViewActive"
            [scrollIntoViewOptions]="scrollIntoViewOptions"
          >
            <nx-expansion-panel-header>
              <nx-expansion-panel-title>Insured Info</nx-expansion-panel-title>
            </nx-expansion-panel-header>

            <form [formGroup]="insuredForm" (ngSubmit)="onSaveInsuredInfo()" >
              <div nxLayout="grid nogutters" class="grid">
                <div nxRow class="nx-margin-bottom-2m">
                  <div nxCol="6">
                    <nx-formfield label="Title">
                      <nx-dropdown formControlName="title">
                        @for (field of FIELD_OPTIONS.title; track field) {
                          <nx-dropdown-item value="{{ field.value }}">{{ field.label }}</nx-dropdown-item>
                        }
                      </nx-dropdown>
                    </nx-formfield>
                  </div>

                  <div nxCol="6">
                    <nx-formfield label="Full Name">
                      <input nxInput formControlName="fullName" [readOnly]="!editMode"/>
                    </nx-formfield>
                  </div>
                </div>

                <div nxRow class="nx-margin-bottom-2m">
                  <div nxCol="6">
                    <nx-formfield label="Email">
                      <input nxInput formControlName="email" type="email" [readOnly]="!editMode"/>
                    </nx-formfield>
                  </div>

                  <div nxCol="6">
                    <nx-formfield label="Identification Number">
                      <input nxInput formControlName="identificationNo"/>
                    </nx-formfield>
                  </div>
                </div>

                <div nxRow class="nx-margin-bottom-2m">
                  <div nxCol="6">
                    <nx-formfield label="Gender">
                      <input nxInput formControlName="gender"/>
                    </nx-formfield>
                  </div>

                  <div nxCol="6">
                    <nx-formfield label="Date Of Birth">
                      <input nxInput formControlName="dob"/>
                    </nx-formfield>
                  </div>
                </div>

                <div nxRow class="nx-margin-bottom-2m">
                  <div nxCol="6">
                    <nx-formfield label="Country Code">
                      <nx-dropdown formControlName="countryCode">
                        @for (field of FIELD_OPTIONS.countryCode; track field) {
                          <nx-dropdown-item value="{{ field.value }}">{{ field.label }}</nx-dropdown-item>
                        }
                      </nx-dropdown>
                    </nx-formfield>
                  </div>

                  <div nxCol="6">
                    <nx-formfield label="Mobile Number">
                      <input nxInput formControlName="phoneNo" [readOnly]="!editMode"/>
                    </nx-formfield>
                  </div>
                </div>

                <div nxRow class="nx-margin-bottom-2m">
                  <div nxCol="6">
                    <nx-formfield label="Country of Birth">
                      <input nxInput formControlName="countryOfBirth"/>
                    </nx-formfield>
                  </div>

                  <div nxCol="6">
                    <nx-formfield label="Nationality">
                      <input nxInput formControlName="nationality"/>
                    </nx-formfield>
                  </div>
                </div>

                <div class="nx-margin-top-2m">
                  @if (!editMode) {
                    <button nxButton="secondary" type="button" aria-label="Edit Insured Info" (click)="openEdit()">
                      Edit
                    </button>
                  }

                  @if (editMode) {
                    <button nxButton="primary" type="submit" [disabled]="insuredForm.invalid || !insuredForm.dirty">
                      Save Changes
                    </button>
                    <button nxButton="secondary" type="button" (click)="onCancelEdit()">
                      Cancel
                    </button>
                  }
                </div>
              </div>
            </form>

          </nx-expansion-panel>
          <nx-expansion-panel
            [scrollIntoViewActive]="scrollIntoViewActive"
            [scrollIntoViewOptions]="scrollIntoViewOptions"
          >
            <nx-expansion-panel-header>
              <nx-expansion-panel-title>
                Beneficiary
                <button
                  nxFormfieldAppendix
                  nxIconButton="tertiary small"
                  nxPopoverDirection="right"
                  [nxPopoverTriggerFor]="beneficiaryInfo"
                  nxPopoverTrigger="hover"
                  type="button"
                  aria-label="More information"
                >
                  <nx-icon name="info-circle" size="s" aria-hidden="true" style="color: #0077a6"> </nx-icon>
                </button>
              </nx-expansion-panel-title>
            </nx-expansion-panel-header>
            <h2 nxHeadline="subsection-small" class="nx-margin-bottom-2m">
              <app-policy-servicing-beneficiary></app-policy-servicing-beneficiary>
            </h2>
          </nx-expansion-panel>
        </nx-accordion>
      </p>
    </nx-tab>
  </nx-tab-group>
</div>
<nx-popover #beneficiaryInfo>
  <div style="max-width: 300px">
    You can add up to 2 beneficiaries only.
  </div>
</nx-popover>
