.tab__content {
  padding-top: 16px;
}

.scroll-container {
  overflow-x: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.badge-green {
  background-color: #28a745;
  color: white;
}

tbody tr:hover {
  background-color: #425860;
  cursor: pointer;
}
