<!--<div style="background-image: url('assets/images/share/content-bg.jpg');" >-->
  <div class="text-center" style="margin-bottom: 3rem; margin-top: 3rem;">
    <h1 style="color: white;">Policies</h1>
  </div>

  <div class="page-wrapper">
    <nx-tab-group>
      <nx-tab [label]="'Allianz Life (' + lifePolicyCount + ')'">
        <p class="tab__content">You have {{ lifePolicyCount }} policies</p>
        <div class="scroll-container" style="overflow-x: auto;">
            <table nxTable nxSort (sortChange)="sortTable($event)">
              <thead>
              <tr nxTableRow>
                <th nxHeaderCell nxSortHeaderCell="product">Product</th>
                <th nxHeaderCell>Policy. No</th>
                <th nxHeaderCell nxSortHeaderCell="insuredName">Insured name</th>
                <th nxHeaderCell>Premium amount</th>
                <th nxHeaderCell nxSortHeaderCell="dueDate">Due Date</th>
                <th nxHeaderCell nxSortHeaderCell="status">Status</th>
                <th nxHeaderCell>Action</th>
              </tr>
              </thead>
              <tbody>
                @for (item of lifePolicyList; track item) {

                }
              </tbody>
            </table>
          </div>
      </nx-tab>

      <nx-tab [label]="'Allianz General (' + generalPolicyCount + ')'">
        <p class="tab__content">You have {{ generalPolicyCount }} policies</p>
        <div class="scroll-container" style="overflow-x: auto;">
            <table nxTable nxSort (sortChange)="sortTable($event)">
              <thead>
              <tr nxTableRow>
                <th nxHeaderCell nxSortHeaderCell="product">Product</th>
                <th nxHeaderCell>Policy. No</th>
                <th nxHeaderCell nxSortHeaderCell="insuredName">Insured name</th>
                <th nxHeaderCell>ID no.</th>
                <th nxHeaderCell nxSortHeaderCell="effectiveDate">Effective Date</th>
                <th nxHeaderCell nxSortHeaderCell="expiryDate">Expiry Date</th>
                <th nxHeaderCell nxSortHeaderCell="status">Status</th>
              </tr>
              </thead>
              <tbody>
                @for (item of generalPolicyList; track item) {

                }
              </tbody>
            </table>
          </div>
      </nx-tab>

      <nx-tab [label]="'Employee Benefits (' + employeePolicyCount + ')'">
        <p class="tab__content">You have {{ employeePolicyCount }} policies</p>
        <div class="scroll-container" style="overflow-x: auto;">
            <table nxTable nxSort (sortChange)="sortTable($event)">
              <thead>
              <tr nxTableRow>
                <th nxHeaderCell nxSortHeaderCell="employer">Employer</th>
                <th nxHeaderCell>Policy. No</th>
                <th nxHeaderCell>Benefit</th>
                <th nxHeaderCell nxSortHeaderCell="effectiveDate">Effective Date</th>
                <th nxHeaderCell nxSortHeaderCell="expiryDate">Expiry Date</th>
                <th nxHeaderCell nxSortHeaderCell="status">Status</th>
              </tr>
              </thead>
              <tbody>
                @for (item of employeePolicyList; track item) {
                  <tr nxTableRow>
                    <td nxTableCell>
                      <nx-link><a routerLink="/policy-details">{{item.employer}}</a></nx-link>
                    </td>
                    <td nxTableCell>{{item.policyNumber}}</td>
                    <td nxTableCell>{{item.benefit}}</td>
                    <td nxTableCell>{{ item.effectiveDate | date: 'dd MMM yyyy' }}</td>
                    <td nxTableCell>{{ item.expiryDate | date: 'dd MMM yyyy' }}</td>
                    <td nxTableCell>
                      <nx-badge [ngClass]="{ 'badge-green': item.status === 'In Force' }">
                        {{ item.status }}
                      </nx-badge>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
      </nx-tab>
    </nx-tab-group>
  </div>
<!--</div>-->
