<nx-card
  class="nx-margin-2xs"
>
  @if (successMessage) {
    <nx-message context="success">
      <span class="nx-font-weight-bold">Notification title:</span><br />
      {{ successMessage }}
    </nx-message>
  }

  <div nxRow>
    <div nxCol="12">
      <nx-formfield
        label="Insurance Type"
        appearance="outline"
        floatLabel="always"
      >
        <nx-dropdown [(ngModel)]="selectedInsurance">
          @for (insurance of insuranceTypes; track insurance) {
            <nx-dropdown-item [value]="insurance.title">{{ insurance.title }}</nx-dropdown-item>
          }
        </nx-dropdown>
      </nx-formfield>
    </div>
    <div nxCol="12">
      <nx-formfield label="Coverage Amount" appearance="outline" floatLabel="always">
        <span nxFormfieldPrefix>RM</span>
        <input
          nxInput
          type="number"
          [(ngModel)]="coverageAmt"
        />
        <button
          nxFormfieldAppendix
          nxIconButton="tertiary small"
          nxPopoverDirection="top"
          [nxPopoverTriggerFor]="popoverAppearanceExample"
          nxPopoverTrigger="click"
          type="button"
          aria-label="More information"
        >
          <nx-icon name="info-circle-o" size="s" aria-hidden="true"></nx-icon>
        </button>
      </nx-formfield>
    </div>
  </div>
  <button
    nxButton="primary small"
    type="button"
    [disabled]="!selectedInsurance || !coverageAmt"
    (click)="submitForm()"
  >
    Submit
  </button>
</nx-card>

<nx-popover #popoverAppearanceExample>
  <div style="max-width: 300px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni,
    nostrum. Obcaecati cupiditate numquam, fugit illo incidunt molestiae
    ipsam perferendis officia accusamus. Enim magnam recusandae velit
    accusamus ipsa. Nemo, eius exercitationem?
  </div>
</nx-popover>
