<div class="hero-content">
  <h1>Allianz i-EssentialCover</h1>
  <p>
    Helping to provide financial support when you are no longer able to.
    Cover for death and total permanent disablement
  </p>
</div>

<div class="form-container">
  <form [formGroup]="infoForm" (ngSubmit)="onNext()">
    <div nxRow class="nx-margin-bottom-m">
      <div>
        <nx-formfield label="I am a " [negative]="(submitted && infoForm.get('gender')?.invalid) ? 'true' : 'false'">
          <nx-dropdown formControlName="gender">
            <nx-dropdown-item value="Male">Male</nx-dropdown-item>
            <nx-dropdown-item value="Female">Female</nx-dropdown-item>
          </nx-dropdown>
            @if (submitted && infoForm.get('gender')?.hasError('required')) {
              <nx-error>Gender is required.</nx-error>
            }
        </nx-formfield>
      </div>

      <div>
        <nx-formfield label="My Birthdate was on">
          <input
            nxDatefield
            nxInput
            [datepicker]="myDatepicker"
            formControlName="birthDate"
            [max] = "maxDate"
            [min] = "minDate"
          />
          <nx-datepicker-toggle
            [for]="myDatepicker"
            nxFormfieldSuffix
          />
          <nx-datepicker #myDatepicker></nx-datepicker>
            @if(submitted && infoForm.get('birthDate')?.hasError('required')) {
            <nx-error nxFormfieldError> This field is required </nx-error>
            }
        </nx-formfield>
      </div>

      <div class="buttons">
        <button nxButton="secondary" type="button" (click)="onBack()">Back</button>
        <button nxButton="primary" type="submit">Next</button>
      </div>
    </div>
  </form>
</div>

