.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-banner {
  background-image: url(../../../assets/images/views/hero-banner.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 0;
}

.hero-content {
  padding-left: 50px;
  max-width: 600px;
  margin-bottom: 12rem;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.hero-content p br {
  margin-top: 10px;
}
